@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Poppins:wght@300;400;600&family=Readex+Pro:wght@200;300&family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Lato", sans-serif;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(110, 151, 228);
  position: relative;
  padding: 1rem;
}

nav > h1 > a {
  color: rgb(12, 43, 100);
}
nav > h1 > a:hover {
  transition: all 300ms ease-in-out;
  color: rgb(226, 217, 217);
}

ul {
  display: flex;
  gap: 1.5rem;
  text-transform: capitalize;
}

ul li a {
  font-size: 1.3rem;
  color: rgb(236, 231, 231);
}

ul li a:hover {
  color: #000;
  transition: all 500ms ease-in-out;
}

.main {
  display: flex;
}

img {
  width: 100%;
  height: 100%;
}

.left {
  text-align: center;
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
}

.left > h2 {
  color: rgb(62, 120, 228);
}

.container {
  width: 40vw;
  margin: 0 auto;
  text-align: center;
}

.container > h1 {
  margin: 1.5rem auto;
  text-align: center;
}

.brand {
  color: rgb(62, 120, 228);
  font-size: 1.1rem;
}

.content {
  width: 50vw;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 1.3rem;
}

.services {
  margin-bottom: 1rem;
}

.contact-container {
  width: 80vw;
  margin: 0 auto;
  text-align: center;
}

form {
  margin: 5rem 2rem;
  display: inline-block;
}

input {
  padding: 0.5rem;
  width: 100%;
  border-radius: 3px;
}

input:focus {
  border: 1px solid rgb(62, 120, 228);
}

.form-input {
  display: grid;
  grid-template-columns: 100px 1fr;
}

label {
  margin-right: 0.5rem;
}

button {
  padding: 0.75rem;
  font-size: 1rem;
  background-color: rgb(62, 120, 228, 0.3);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  display: block;
  width: 1.5rem;
  height: 3px;
  margin: 5px auto;
  background-color: rgb(236, 231, 231);
}

li {
  margin: 0.5rem 0;
}

.grid {
  display: grid;
  width: 80vw;
  margin: 3rem auto;
  gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
}

.grid img {
  border-radius: 5px;
}

.icons {
  margin: 0.75rem auto;
}

.icons > a > i {
  padding: 0.5rem;
  font-size: 1.2rem;
  color: rgb(62, 120, 228);
}

@media only screen and (max-width: 700px) {
  .hamburger {
    display: block;
  }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

  ul {
    position: fixed;
    left: -100%;
    top: 50px;

    gap: 0;

    background-color: rgb(62, 120, 228);
    width: 100%;
    text-align: center;
    transition: 0.3s;
    justify-content: space-evenly;
  }

  ul.active {
    left: 0;
  }

  .grid {
    display: grid;

    grid-template-columns: 1fr 1fr;
  }
  .left {
    margin: 0 auto;
  }
  .main {
    display: block;
  }
}

@media only screen and (max-width: 900px) {
  .main {
    display: block;
  }
  .left {
    width: 100%;
    padding: 2rem;
  }
}
